<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<h2>Here I am. And my name is Scrappy.</h2>
	<p>
		Click here to <%= link_to "Sign Up", "http://espn.go.com", class: "btn btn-success btn-lg" %> at ESPN
		<br>
		<%= link_to"Log in", "http:google.com", class: "btn btn-primary btn-lg" %> by clicking this button
	</p>
</div>